!!! 5
%html(lang="en-US")
  %head
    %title School System
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %body
      = render 'shared/header'

      %main(role="main")
        .container
          = render 'shared/messages'
          .row
            .col-md-10.col-md-offset-1.content
              - if content_for?(:sidebar)
                .col-md-3.left
                  #left-content
                    = yield :sidebar
                .col-md-9.inner
                  #right-content
                    = yield
              - else
                .col-md-10.col-md-offset-1.inner
                  #right-content
                    = yield

      = render 'shared/footer'
